@font-face {
  font-family: "Baloo Bhaijaan 2";
  src: url("/assets/fonts/BalooBhaijaan2-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  src: url("/assets/fonts/BalooBhaijaan2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Baloo Bhaijaan 2";
  src: url("/assets/fonts/BalooBhaijaan2-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gochi Hand";
  src: url("/assets/fonts/GochiHand-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.header {
  @apply flex flex-wrap items-center justify-between space-x-1 space-y-5 overflow-x-hidden md:space-x-5 lg:flex-nowrap;
}

.main-container {
  @apply relative grid grid-flow-row grid-cols-1 grid-rows-2 overflow-x-hidden sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-3 gap-y-5 mt-9;
}

.footer {
  @apply flex flex-wrap items-center justify-between mb-5 space-x-0 mt-9 sm:space-x-5 space-y-7 lg:space-y-0;
}

.goal-number {
  @apply flex items-center justify-center w-6 h-6 pt-1 text-xl bg-gradient-to-r from-secondary to-primary rounded-tl-md rounded-tr-xl rounded-bl-xl rounded-br-md font-display text-tertiary;
}

.goal-input {
  @apply flex-1 px-0 pt-1 pb-0 mx-2 text-lg leading-tight bg-transparent border-t-0 border-b border-l-0 border-r-0 border-gray-400 font-body focus:ring-primary focus:ring-2 focus:border-transparent;
}

.goal-checkbox {
  @apply w-6 h-6 border-2 rounded-br-lg text-secondary focus:ring-primary border-tertiary rounded-tl-md rounded-tr-md rounded-bl-md;
}

.tracker-name {
  @apply px-4 leading-8 tracking-wide text-white bg-tertiary font-display rounded-tl-md rounded-tr-xl rounded-bl-xl rounded-br-md w-max;
}

.drop-input {
  @apply p-0 mt-2 -ml-1 text-sm font-semibold text-center -rotate-45 border-2 rounded-full w-7 h-7 font-body text-tertiary border-tertiary focus:shadow-none focus:ring-primary focus:ring-2 focus:border-tertiary;
  border-top-right-radius: 0;
}

.health-tracker-container {
  @apply flex flex-col items-start flex-1 max-w-sm min-w-full overflow-x-auto overflow-y-hidden sm:items-center lg:min-w-max;
}

.dot-bg {
  background-image: radial-gradient(#e0e0e0 10%, transparent 11%),
    radial-gradient(#e0e0e0 10%, transparent 11%);
  background-size: 20px 20px;
  background-position: 0 0;
  background-repeat: repeat;
}

.line-bg {
  background-size: 32px 29px;
  background-image: repeating-linear-gradient(0deg, #e0e0e0, #e0e0e0 1px, white 1px, white);
}

.week-day-textarea {
  @apply flex-1 w-full h-full px-1 py-3 -mt-3 bg-transparent border-none resize-none font-body focus:ring-primary focus:ring-2 focus:border-transparent;
}

.prepare-next-week-btn {
  @apply rounded-br-sm hover:bg-gradient-to-r from-secondary to-primary;
}

.prepare-next-week {
  @apply text-lg text-center text-transparent transition-all font-display bg-clip-text bg-gradient-to-r from-secondary to-primary group-hover:text-white;
}

.emoji-active {
  @apply relative -z-10;
}

.emoji-active:before {
  content: "";
  left: -25px;
  z-index: -1;
  background-size: 90px 90px;
  background-image: url('/assets/splash.svg');
  @apply absolute w-[90px] h-[90px] -top-8;
}

.emoji-active svg {
  @apply w-8;
}

.emoji-active svg * {
  @apply fill-white;
}

.icon-primary * {
  @apply fill-current text-secondary;  
}

.emoji-splash {
  @apply relative z-0;
}

.emoji-splash svg {
  @apply relative;
}

.emoji-splash svg * {
  @apply fill-white;
}

.emoji-splash:before {
  content: "";
  background-size: 60px 60px;
  background-image: url('/assets/splash.svg');
  @apply absolute w-[60px] h-[60px] z-0 -left-4 -top-5;
}

.modal {
  @apply !m-0;
}

.footer-date-container {
  @apply flex flex-wrap items-end justify-center space-x-2 md:justify-end md:flex-1 sm:flex-nowrap;
}

.footer-actions-container {
  @apply flex justify-center flex-1 space-x-3 sm:space-x-5 sm:ml-8 lg:flex-initial lg:justify-end;
}

.DayPicker-Caption {
  @apply font-display text-lg tracking-wide text-tertiary !px-0;
}

.DayPicker-Month {
  @apply min-w-full;
}

.DayPicker-WeekNumber {
  @apply !cursor-default;
}

.DayPicker-Day--hoverRange {
  @apply !rounded-none;
}

.DayPicker-Day--selected {
  @apply !rounded-none;
}

.DayPicker-Day--selected:hover {
  @apply !bg-inherit;
}

.DayPicker-Day--selected:last-child {
  @apply !rounded-tl-none !rounded-tr-xl !rounded-bl-none !rounded-br-md;
}

.DayPicker-Day--selectedRangeStart {
  @apply !rounded-tl-md !rounded-tr-none !rounded-bl-xl !rounded-br-none;
}

.DayPicker-Day--hoverRange:not(.DayPicker-Day--disabled, .DayPicker-Day--selected) {
  @apply !bg-gray-200;
}

.DayPicker-Day--hoverRange.DayPicker-Day--hoverRangeStart {
  @apply !rounded-tl-md !rounded-tr-none !rounded-bl-xl !rounded-br-none;
}

.DayPicker-Day--hoverRange.DayPicker-Day--hoverRangeEnd {
  @apply !rounded-tl-none !rounded-tr-xl !rounded-bl-none !rounded-br-md;
}

.DayPicker-Week .DayPicker-Day--selected {
 @apply !bg-primary;
}

.DayPicker-Week .DayPicker-Day--selected.DayPicker-Day--outside {
 @apply !text-gray-200;
}

.selected-week {
  @apply px-3 py-1 text-lg font-bold tracking-wider border-2 rounded-md font-body border-primary;
}

.go-back-btn {
  @apply px-3 py-1 text-lg tracking-wide transition-all border-2 rounded-md border-tertiary font-display text-tertiary hover:bg-primary hover:bg-opacity-20;
}

.continue-btn {
  @apply px-3 py-1 text-lg tracking-wide transition-all rounded-md bg-secondary font-display text-tertiary hover:bg-primary;
}

.create-btn {
  @apply flex items-start px-4 pt-3 pb-2 space-x-2 bg-gradient-to-r from-secondary to-primary rounded-tl-md rounded-tr-xl rounded-bl-xl rounded-br-md text-tertiary hover:from-primary hover:to-secondary;
}

.credits-btn {
  @apply flex items-center self-center justify-center w-full py-2 space-x-3 transition-all bg-gray-100 rounded hover:bg-gray-200;
}